#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/ImZjm/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/ImZjm')  ImZjm
  if theme.icp.enable
    br
    if theme.icp.mps || theme.icp.miit
      a(rel='nofollow', target='_blank', href=theme.icp.mps_url)= theme.icp.mps
      |  | 
      a(rel='nofollow', target='_blank', href=theme.icp.miit_url)= theme.icp.miit
